.homeMktg {
	background-color: #ffffff;
}

@media (max-width:1199.98px){
.service{
  width: 100%;
  height: 312px;
}
}

@media (max-width:800.98px){
  .service{
    width: 100%;
    height: 312px;
  }
  }
  @media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)and ( width: 1440px)and (orientation: portrait){
    /*Your styles here */
    .service{
      display: none;
    }
    }
